@import url("./reset.scss");

body {
  background-color: tomato;
}
header {
  text-align: center;
}
img {
  width: 400px;
}
body {
  text-align: center;
}
section {
  font-family: "EastSeaDokdo-Regular";
  font-size: 30px;
  display: inline-block;
  margin: 50px;
  margin-bottom: 0;
}
