.battle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  img {
    width: 120px;
    margin-top: 40px;
  }
  .player {
    border: 1px solid rgba(128, 128, 128, 0.486);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin: 20px;
  }
}

.generate {
  margin-top: 80px;
  width: 300px;
  padding: 20px;
  color: #f2f2f2;
  border: none;
  background-color: rgb(128, 128, 231);
  cursor: pointer;

  &:hover {
    box-shadow: 0 15px 10px rgba(204, 204, 204, 0.295);
  }

  &:focus {
    outline: 0;
  }
}
