.bug{
  background-color: #285436;
}
.dark{
  background-color: #000100;
}
.dragon{
  background-color: #46919f;
}
.electric{
  background-color: #e7e805;
}
.fairy{
  background-color: #a41c4c;
}
.fighting{
  background-color: #a64219;
}
.fire{
  background-color: #ba2724;
}
.flying{
  background-color: #507089;
}
.ghost{
  background-color: #383774;
}
.grass{
  background-color: #008842;
}
.ground{
  background-color: #b6791f;
}
.ice{
  background-color: #8cd5f5;
}
.normal{
  background-color: #815c66;
}
.poison{
  background-color: #6e2a9f;
}
.psychic{
  background-color: #b22f7b;
}
.rock{
  background-color: #561c05;
}
.steel{
  background-color: #677e76;
}
.water{
  background-color: #0452e3;
}
