.navigation {
  display: flex;
  margin-top: 80px;
  width: 100%;
  justify-content: center;
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

    li {
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }

    .is-active {
      color: blue;
      font-weight: 600;
    }
  }
}
