.navigation {
  display: flex;
  margin-top: 80px;
  width: 100%;
  justify-content: center;
  &__links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .is-active {
      a {
        color: blue;
        text-decoration: overline;
      }
      font-weight: 600;
    }
  }
}
