


.wrap{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-result-is-open {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  height: 50vh;
  width: 100vw;
  background-color: $white;
  background-image: url("/assets/images/api.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  

  @include desktop-up {
    height: 70vh;
  }

  .searchBox {
    
      width: 100%;
      position: relative;
      display: flex;
      @include flexbox(row, space-between, center);

      &__searchTerm {
        height: 32px;
        width: 180px;
        border: 3px solid $primaryColor;
        border-radius: 5px;
        outline: none;
        color: #9DBFAF;
        font-size: 16px;
        font-weight: bold;

        @include desktop-up {
          width: 264px;
          height: 36px;
        }
      }

      &__searchButton {
        height: 28px;
        width: 80px;
        border-radius: 8px;
        margin-left: 8px;
        font-size: 14px;
        text-align: center;
        background-color: $primaryColor;
        color: $white;
      }
    
  }

  
}

.search-haved-result {
  height: 20vh;
  width: 100vw;
}

.result {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  

  
  resultFood__type foodType
    

  &__food {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0.8fr, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 4px;

    
  }
}

.wantedFood {

  
  border: 1px solid $black;
  margin: 20px;
  height: 360px;
  min-width: 280px;
  @include flexbox(column, space-around, center);
  border-radius: 8px;


  .food {
    font-size: 24px;

  }
  
}

