<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="../scss/styles.scss" />
  <script defer src="../js/script.js"></script>
</head>
<header class="header">
  <div class="header__background"></div>
  <div class="header__logo"><img src="../../assets/logo.png" /></div>
</header>

<body>
  <section class="background">
    <div class="background__img"></div>
  </section>
  <section class="contain">
    <h1 class="contain__h1">Découvrez toutes les infos du moments</h1>
  </section>
  <form class="form">
    <div class="form__input">
      <label for="langue">Entrez la langue des informations voulus</label>
      <select name="langue" id="langue">
        <option value="fr">Français</option>
        <option value="us">English</option>
      </select>
      <div class="form-input">
        <input type="submit" value="Confirmer" />
      </div>
  </form>
  </section>
  <section id=articlesContainer>
    <ul id="articles"></ul>
  </section>
  <iframe width="420" height="315" id="src"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<button id="buttonmdr"></button>
</body>

</html>