@font-face {
  font-family: "Poppins-Medium";
  src: url("../scss/fonts/Poppins-Medium.ttf") format("trueType");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../scss/fonts/Roboto-Regular.ttf") format("trueType");
}