@import 'variables.scss';
@import 'config/fonts.scss';

@mixin h1-style {
  font-family: "Poppins-Medium";
  text-align: center;
  font-size: 5vw;
  color: $secondary-white;
  letter-spacing: 1.6px;
}

@mixin h2-style {
  font-family: "Poppins-Medium";
  font-size: 5vw;
  color: $primary-blue;
  text-align: center;
  margin-top: 4vw;
  font-weight: bold;
}

@mixin h3-style {
  font-family: "Poppins-Medium";
  text-align: center;
  padding: 4vw 0.4vw;
  margin-bottom: 4vw;
  background-color: $primary-blue;
  color: $secondary-white;
  font-size: 4vw;
  line-height: 1.5;

}

@mixin CTA-style {
  font-family: "Poppins-Medium";
  padding: 2.5vw;
  border-radius: 5px;
  font-size: 4vw;
  background-color: $primary-yellow;
  color: $primary-blue;
  border: none;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-decoration: none;
}

@mixin p-style {
  font-family: "Roboto-Regular";
  font-size: 4vw;
  line-height: 1.5;
  padding: 5vw 3vw;
  color: $primary-blue;
  font-weight: bold;
}

@mixin time-style{
  font-family: "Roboto-Regular";
  font-size: 4vw;
  color: $primary-yellow;
  font-weight: bold;
  font-style: italic;

}

@mixin hover-CTA {
  box-shadow: $box-shadow-cta;
}