@import 'variables.scss';
@import 'config/fonts.scss';

@mixin h1-style {
  font-family: "Poppins-Medium";
  text-align: center;
  font-size: 5vw;
  color: $secondary-white;
  letter-spacing: 1.6px;
  @include desktop {
    font-size: 3vw;
  }
}

@mixin h2-style {
  font-family: "Poppins-Medium";
  font-size: 5vw;
  color: $primary-blue;
  text-align: center;
  margin-top: 4vw;
  font-weight: bold;
  @include desktop {
    font-size: 3vw;
    margin-top: 2vw;
  }
}

@mixin h3-style {
  font-family: "Poppins-Medium";
  text-align: center;
  padding: 4vw 0.4vw;
  margin-bottom: 4vw;
  background-color: $primary-blue;
  color: $secondary-white;
  font-size: 4vw;
  line-height: 1.5;
  @include desktop {
    padding: 2vw 0.4vw;
    font-size: 2vw;
  }

}

@mixin CTA-style {
  font-family: "Poppins-Medium";
  padding: 2vw;
  border-radius: 5px;
  font-size: 4vw;
  background-color: $primary-yellow;
  color: $primary-blue;
  border: none;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-decoration: none;
  @include desktop {
    font-size: 2vw;
    padding: 1vw;
  }
}

@mixin p-style {
  font-family: "Roboto-Regular";
  font-size: 4vw;
  line-height: 1.5;
  padding: 5vw 3vw;
  color: $primary-blue;
  font-weight: bold;
  @include desktop {
    font-size: 2vw;
    padding: 2vw 3vw;
  }
}

@mixin time-style{
  font-family: "Roboto-Regular";
  font-size: 4vw;
  color: $primary-yellow;
  font-weight: bold;
  font-style: italic;
  @include desktop {
  font-size: 2vw;
  }
}

@mixin hover-CTA {
  box-shadow: $box-shadow-cta;
}

// MEDIA QUERIES

@mixin desktop {
  @media (min-width: 600px){
    @content;
  }
}