$primary-blue: #2c3e50;
$primary-yellow: #F6AE2D;
$secondary-grey: rgb(188, 192, 209);
$secondary-white: #EFF6EE;
$box-shadow: 0 0 5px rgba(44, 62, 80, 0.7), inset 0 0 2px rgba(44, 62, 80, 0.19);
$box-shadow-cta: 0 0 5px rgba(246, 174, 45, 0.7), inset 0 0 2px rgba(246, 174, 45, 0.19);


