.container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 30px;
  font-family: 'Fjalla One', sans-serif;

  &__cardsPokemon{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px 15px;
    align-items: center;
    margin-bottom: 10%;
    justify-content: space-evenly;
    background-color: rgb(73, 143, 167);
    border-radius: 5px;
    color: rgb(6, 33, 41);
  }

  &__namePokemon{
    font-size: 18px;
  }

  &__caract{
    font-size: 12px;
  }

  &__descriptions{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
  }

  &__imgPokemon{
    width: 55%;
    object-fit: contain;
  }

  &__button{
    border: none;
    padding: 5px 10px;
    background-color: rgb(39, 77, 90);
    color: white;
    font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
  }

  &__infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width: 100vw;
  }

  &__infoTitle{
    color: rgb(6, 33, 41);
  }
}