@font-face {
    font-family: 'sen-reg';
    src: url('../assets/font/Sen-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'sen-bold';
    src: url('../assets/font/Sen-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'sen-extra';
    src: url('../assets/font/Sen-ExtraBold.ttf') format('truetype');
}