.searchBar{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(158, 11, 40);

    &__label{
        color: white;
        font-family: 'Fjalla One', sans-serif;
    }

    &__input{
        margin-left: 10px;
        border: none;
        background: none;
        border-bottom: 2px solid white;
        color: white;
    }

    &__click{
        border: none;
        padding: 2px 10px;
        background-color: crimson;
        color: white;
        font-size: 14px;
        margin-left: 5px;
        font-family: 'Fjalla One', sans-serif;
    }
}