@import 'vendors/reset';

@import 'blocs/header';
@import 'blocs/navigation';
@import 'blocs/search';
@import 'blocs/cards';

@import 'blocs/battle';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  font-family: Verdana, sans-serif;
  width: 100%;
  color: #202020;

  a {
    text-decoration: none;
    color: #202020;
  }
}

img {
  width: 140px;
}

.random {
  border: 1px solid rgba(128, 128, 128, 0.486);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  margin-top: 80px;
  width: 95%;
  cursor: pointer;
  &:hover {
    box-shadow: 0 15px 10px rgba(204, 204, 204, 0.295);
  }
}
