@import 'vendors/reset';
@import 'global/typography';
@import 'global/variables';
@import 'global/utilities';
@import 'layouts/header';
@import 'pages/mainPage';
@import 'pages/pageAllRecipes';
@import 'pages/result.scss';

html {
  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }
}

body {


  scroll-behavior: smooth;
  background-color: $testcolor;


}
