@import 'vendors/reset';
html{
  cursor :url(../assets/pokeball.png), auto;
}

body{
  color: rgb(25,25,25);
  margin: 0px 10% 0px 10%;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  margin: 20px 0px 60px 0px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #383774 0%, #0452e3 12.5%, #46919f 25%, #285436 37.5%,#008842 50%, #e7e805 62.5%, #b6791f 75%, #a64219 87.5%, #ba2724 100% );
    background-clip: text;
    text-decoration: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__subtitle{
    font-size:20px;;
    color: rgb(158,158,158);
  }
}
main {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}
.pokemon__searching{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.input__name{
  width: 200px;
}
.select__types{
  width: 200px;
}
.pokemon__card{
  border: 6px solid;
  border-image-slice: 1;
  height: 350px;
  width: auto;
  display: flex;
  flex-direction:column ;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  &.hidden{
    display: none;
  }
  &:hover{
    box-shadow: 0 15px 10px rgba(204, 204, 204, 0.295);
  }
}
.pokemon__name{
  font-weight: bold;
}
.pokemon__name::first-letter{
  text-transform: uppercase;
}
img{
  width: 100px;
}
.pokemon__types{
  width: 100%;
  max-width: 220px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-weight: 600;
}
.type{
  padding: 8px 20px;
  border-radius: 20px;
  &::first-letter{
    text-transform: uppercase;
  }
}
.bug{
  background-color: #285436;
}
.dark{
  background-color: #000100;
}
.dragon{
  background-color: #46919f;
}
.electric{
  background-color: #e7e805;
}
.fairy{
  background-color: #a41c4c;
}
.fighting{
  background-color: #a64219;
}
.fire{
  background-color: #ba2724;
}
.flying{
  background-color: #507089;
}
.ghost{
  background-color: #383774;
}
.grass{
  background-color: #008842;
}
.ground{
  background-color: #b6791f;
}
.ice{
  background-color: #8cd5f5;
}
.normal{
  background-color: #815c66;
}
.poison{
  background-color: #6e2a9f;
}
.psychic{
  background-color: #b22f7b;
}
.rock{
  background-color: #561c05;
}
.steel{
  background-color: #677e76;
}
.water{
  background-color: #0452e3;
}

.noResult{
  font-size: 24px;
  margin-top: 60px;
  display: none;
  &.visible{
    display: block;
  }
}