@media (max-width:320px) {

  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .welcome__title {
    font-size:26px;
    font-weight: bold;
    margin-top: 150px;
  }
  .welcome__subTitle{
    font-size:14px;
    font-weight: 500;
    margin-top: 30px;
  }
  .welcome__dog {
    width:100px;
    height: 120px;
    margin-top:30px;
  }

  .welcome__button {
    font-size: 18px;
    font-weight:500;
    color: white;
    margin-top: 50px;
    background-color: #1a91db;
    border: none;
    border-radius: 8px;
  }
}


